$primary: #104c88;

$grey: #c4c4c4;
$grey-2: #ebe9e9;

$black: #000000;
$black-2: #222;

$red: #e51a1a;

$green: #a08a4d;

$white: #ffffff;

$text: #393533;
$description-text: #9b9592;

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1220px;
$break-xl: 1660px;